body {
    background-color: whitesmoke;
    color: rgb(47, 46, 47);
}

h1 {
    font-size: 36px;
    color: rgb(58, 4, 85);
    text-align: center;
    font-weight: bold;
}

h2 {
    color: rgba(138, 7, 177, 0.912);
    text-decoration: underline;
    font-style: italic;
}

p {
    font-size: 25px;
}

/*this is an id. can only do this thing on that one thing that has this id. Only applies to one thing.*/
#something {
    color: hotpink;
}

/*This is a class. kind of like an id, but applies to multiple things.*/
.pretty {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ugly {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.common {
    text-align: center;
    background-color: whitesmoke;
    border: 20px solid white;
    position: absolute;
}

.left {
    top: 115px;
    left: 15px;
    width: 150px;
    bottom: 40px;
}

.main {
    top: 115px;
    left: 130px;
    right: 140px;
    bottom: 40px;
}

.right {
    top: 115px;
    right: 25px;
    width: 100px;
    height: 100px;
}

.footer {
    bottom: 10px;
    height: 20px;
    left: 5px;
    right: 5px;
    background-color: whitesmoke;
    border: 10px solid white;
    text-align: right;
    position: fixed;
}

.header {
    z-index: 10;
    position: fixed;
}

/*this is a comment is css*/